@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background: #0a5071;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0a5071;
    padding: 15px 30px;
    position: relative;
}
.nav-bar .logo a{
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

.nav-bar ul{
    display: flex;
}
.nav-bar ul li{
    list-style: none;
    /* line-height: 10px; */
    margin: 0 10px;
    
}
.nav-bar ul li a{
    text-decoration: none;
    padding: 5px 10px;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 2px;
}
.nav-bar ul li a:hover{
    color: #0a5071;
    background: #fff;
}
.search-box{
    display: flex;
    /* margin: auto 0; */
    height: 35px;
}
.search-box input {
    width: 325px;
    background: #fff;
    outline: none;
    padding: 10px 6px;
    border: none;
    /* border-radius: 2px; */
    font-size: 15px;
}
.search-box span{
    background: #fff;
    padding: 4px 8px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: #0a5071;
}
.search-box span::after{
    content: '';
    position: absolute;
    width: 0%;
    height:100%;
    right: 0;
    top: 0;
    background: red;
    z-index: -1;
    transition: 0.3s ease;
}
.search-box span:hover::after{
    width: 100%;
}
.search-box span:hover{
    color:#fff
}

.trigger{
    display: none;
}
.trigger span {
    width: 29px;
    height: 3px;
    background: #fff;
    display: block;
}
.trigger span:nth-child(2){
    margin: 5px 0;
}
.landing-bg{
    background-image: url('./img/cover.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}



